.caos_card{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    background-image: url("../img/Oscarin.JPG");
    background-size: 70%;
    background-position-x: center;
    background-repeat: no-repeat;
}