.card {
    img{
        max-width: 20%;
        border-radius: 5px;
    }
    .card_azu{
        background-color: plum;
        border-radius: 5px;
        box-shadow: 5px 5px purple;
        display: flex;
    }
}
