.card_nayeli {
    background-color:rgb(160, 105, 172);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_nayeli_img {
    border-radius: 10px;
    width: 100px;
    height: auto;
}

.card_nayeli_text {
    color: white;
}
