.manu_card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s    
}

.MC_profile {
    padding: 2px 16px;
}

.mc_profile_picture {
    width: 25%;
    height: 25%;
}