.caos_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: auto;
    text-align: auto;
    // box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    // transition: 0.5s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: greenyellow;
    
    font-size: 20px;
    background-image: url("../img/20150621_163048.jpg");
    background-size: 70%;
    background-position-x: center;
    background-repeat: no-repeat;
}