.caos_card{
    display: flex;
    align-items: center;
    .contenedor_oscar{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(62, 62, 243);
        font-size: 20px;
        background: mediumturquoise;
    }
}

.img_oscar{
    position: relative;
    width: 20%;
    border-radius: 10px;
    margin-right: 1em;
    border: 3px solid black;
}