.card.emma{
    background-image: url("../img/img-emma.PNG");
    background-repeat: no-repeat;
    background-size: 450px 200px;
    p{
        text-align: center;
        color: greenyellow;
    }
}